<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>DeviceProperties</key>
	<dict>
		<key>Add</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,0,0</string>
				<key>device_type</key>
				<string>Host Bridge</string>
				<key>model</key>
				<string>Intel 8th Gen Core Processor Host Bridge/DRAM Registers</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Xeon E3-1200 8th Generation Core Processor PCI Express x16 Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0/0,0</string>
				<key>device_type</key>
				<string>VGA Compatible Controller</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>model</key>
				<string>AMD Radeon RX 570</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)/Pci(0x0,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,0/0,1</string>
				<key>device_type</key>
				<string>Audio Device</string>
				<key>model</key>
				<string>AMD Radeon RX 570 HDMI Audio [Ellesmere] Polaris</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,1</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Xeon E3-1200 8th Gen Core Processor PCI Express Controller (x8)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,1,1/0,0</string>
				<key>device_type</key>
				<string>NVM Express Controller</string>
				<key>model</key>
				<string>Western Digital Black SN750 NVM Express Solid State Drive</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x12,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,18,0</string>
				<key>device_type</key>
				<string>Signal Processing Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH Thermal Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,0</string>
				<key>device_type</key>
				<string>USB Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH USB 3.1 xHCI Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x2)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,20,2</string>
				<key>device_type</key>
				<string>RAM Memory</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH Shared SRAM</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,22,0</string>
				<key>device_type</key>
				<string>Communication Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH HECI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,23,0</string>
				<key>device_type</key>
				<string>SATA Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH SATA AHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #17</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,0/0,0</string>
				<key>device_type</key>
				<string>NVM Express Controller</string>
				<key>model</key>
				<string>Western Digital Black SN750 NVM Express Solid State Drive</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #21</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0/0,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0/0,0/0,0</string>
				<key>device_type</key>
				<string>Thunderbolt 3 NHI</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 NHI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0/1,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0/2,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0/2,0/0,0</string>
				<key>device_type</key>
				<string>USB Controller</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 USB Type-C Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,27,4/0,0/4,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #1</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,1</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #2</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,1/0,0</string>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel I211 Gigabit LAN Wired Ethernet Connection</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #4</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,3/0,0</string>
				<key>device_type</key>
				<string>AirPort Extreme</string>
				<key>model</key>
				<string>AirPort Extreme WiFi Adapter (Broadcom BCM94360CD Wireless AC Card)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #5</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0/0,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0/0,0/0,0</string>
				<key>device_type</key>
				<string>Thunderbolt 3 NHI</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 NHI</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0/1,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0/2,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0/2,0/0,0</string>
				<key>device_type</key>
				<string>USB Controller</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 USB Type-C Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,28,4/0,0/4,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,29,0</string>
				<key>device_type</key>
				<string>PCI Bridge</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #9</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,0</string>
				<key>device_type</key>
				<string>ISA Bridge</string>
				<key>model</key>
				<string>Intel Z390 Chipset LPC/eSPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,3</string>
				<key>device_type</key>
				<string>Audio Device</string>
				<key>hda-gfx</key>
				<string>onboard-1</string>
				<key>layout-id</key>
				<data>
				EAAAAA==
				</data>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH cAVS (Realtek ALC1220 High Definition Audio)</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,4</string>
				<key>device_type</key>
				<string>SMBus</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH SMBus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x5)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,5</string>
				<key>device_type</key>
				<string>Serial Bus Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH SPI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Internal@0,31,6</string>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel I219-V Gigabit LAN Wired Ethernet Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AwCRPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Internal@0,2,0</string>
				<key>device_type</key>
				<string>Display Controller</string>
				<key>framebuffer-patch-enable</key>
				<data>
				AQAAAA==
				</data>
				<key>framebuffer-unifiedmem</key>
				<data>
				AAAAgA==
				</data>
				<key>hda-gfx</key>
				<string>onboard-2</string>
				<key>model</key>
				<string>Intel CometLake-S GT2 [UHD Graphics 630]</string>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
