<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Debug</key>
			<false/>
			<key>Fixes</key>
			<dict>
				<key>AddDTGP</key>
				<false/>
				<key>AddHDMI</key>
				<false/>
				<key>AddIMEI</key>
				<false/>
				<key>AddMCHC</key>
				<false/>
				<key>AddPNLF</key>
				<false/>
				<key>DeleteUnused</key>
				<false/>
				<key>FakeLPC</key>
				<false/>
				<key>FixACST</key>
				<false/>
				<key>FixADP1</key>
				<false/>
				<key>FixAirport</key>
				<false/>
				<key>FixDarwin</key>
				<false/>
				<key>FixDarwin7</key>
				<false/>
				<key>FixDisplay</key>
				<false/>
				<key>FixFirewire</key>
				<false/>
				<key>FixHDA</key>
				<false/>
				<key>FixHPET</key>
				<false/>
				<key>FixIDE</key>
				<false/>
				<key>FixIPIC</key>
				<false/>
				<key>FixIntelGfx</key>
				<false/>
				<key>FixLAN</key>
				<false/>
				<key>FixMutex</key>
				<true/>
				<key>FixRTC</key>
				<false/>
				<key>FixRegions</key>
				<true/>
				<key>FixS3D</key>
				<false/>
				<key>FixSATA</key>
				<false/>
				<key>FixSBUS</key>
				<false/>
				<key>FixShutdown</key>
				<false/>
				<key>FixTMR</key>
				<false/>
				<key>FixUSB</key>
				<false/>
				<key>FixWAK</key>
				<false/>
			</dict>
			<key>Name</key>
			<string>DSDT.aml</string>
			<key>Patches</key>
			<array>
				<dict>
					<key>Comment</key>
					<string>_STA RTC</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					oAqTU1RBUwE=
					</data>
					<key>Replace</key>
					<data>
					oAqRCv8L//8=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					U0FUMA==
					</data>
					<key>Replace</key>
					<data>
					U0FUQQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SEVDSQ==
					</data>
					<key>Replace</key>
					<data>
					SU1FSQ==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>change HDAS to HDEF</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					SERBUw==
					</data>
					<key>Replace</key>
					<data>
					SERFRg==
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>HPET _CRS to XCRS Rename</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					JV9DUlM=
					</data>
					<key>Replace</key>
					<data>
					JVhDUlM=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>RTC IRQ 8 Patch</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					IgABeQA=
					</data>
					<key>Replace</key>
					<data>
					IgAAeQA=
					</data>
				</dict>
				<dict>
					<key>Comment</key>
					<string>TIMR IRQ 0 Patch</string>
					<key>Disabled</key>
					<false/>
					<key>Find</key>
					<data>
					IgEAeQA=
					</data>
					<key>Replace</key>
					<data>
					IgAAeQA=
					</data>
				</dict>
			</array>
			<key>ReuseFFFF</key>
			<false/>
		</dict>
		<key>DisableASPM</key>
		<true/>
		<key>FixHeaders</key>
		<true/>
		<key>FixMCFG</key>
		<true/>
		<key>HaltEnabler</key>
		<true/>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>CStates</key>
				<false/>
				<key>PStates</key>
				<false/>
			</dict>
			<key>NoDynamicExtract</key>
			<true/>
			<key>NoOemTableId</key>
			<true/>
		</dict>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Arguments</key>
		<string>dart=0 shikigva=128 agdpmod=pikera watchdog=0 -no_compat_check</string>
		<key>CustomLogo</key>
		<false/>
		<key>Debug</key>
		<false/>
		<key>DefaultLoader</key>
		<string>Macintosh SSD</string>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
		<key>DisableCloverHotkeys</key>
		<false/>
		<key>Legacy</key>
		<string>PBR</string>
		<key>NeverDoRecovery</key>
		<true/>
		<key>NeverHibernate</key>
		<true/>
		<key>RtcHibernateAware</key>
		<false/>
		<key>SignatureFixup</key>
		<false/>
		<key>SkipHibernateTimeout</key>
		<false/>
		<key>StrictHibernate</key>
		<false/>
		<key>Timeout</key>
		<integer>-1</integer>
		<key>XMPDetection</key>
		<string>Yes</string>
	</dict>
	<key>BootGraphics</key>
	<dict>
		<key>EFILoginHiDPI</key>
		<integer>1</integer>
		<key>UIScale</key>
		<integer>1</integer>
	</dict>
	<key>CPU</key>
	<dict/>
	<key>Devices</key>
	<dict>
		<key>Audio</key>
		<dict>
			<key>AFGLowPowerState</key>
			<true/>
			<key>ResetHDA</key>
			<true/>
		</dict>
		<key>HDMIInjection</key>
		<false/>
		<key>LANInjection</key>
		<false/>
		<key>NoDefaultProperties</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel 8th Gen Core Processor Host Bridge/DRAM Registers</string>
				<key>name</key>
				<string>Intel 8th Gen Core Processor Host Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Xeon E3-1200 8th Generation Core Processor PCI Express x16 Controller</string>
				<key>name</key>
				<string>Intel 8th Generation Core Processor PCI Express x16 Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Xeon E3-1200 8th Gen Core Processor PCI Express Controller (x8)</string>
				<key>name</key>
				<string>Intel 8th Generation Core Processor PCI Express x8 Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x14,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>USB 3.1 Host Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH USB 3.1 xHCI Host Controller</string>
				<key>name</key>
				<string>Intel Cannon Lake USB 3.1 xHCI Host Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x16,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Communication Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH HECI Communication Controller</string>
				<key>name</key>
				<string>Intel Cannon Lake HECI Communication Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x17,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Serial ATA Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH Serial ATA AHCI Controller</string>
				<key>name</key>
				<string>Intel Cannon Lake Serial ATA AHCI Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #17</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #21</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCIe x16 Slot 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge #1</string>
				<key>name</key>
				<string>Intel Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCIe x16 Slot 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge #2</string>
				<key>name</key>
				<string>Intel Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCIe x16 Slot 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge #3</string>
				<key>name</key>
				<string>Intel Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCIe x16 Slot 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge #4</string>
				<key>name</key>
				<string>Intel Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1B,0x4)/Pci(0x0,0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>PCIe x16 Slot 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL6540 Alpine Ridge Thunderbolt 3 Bridge #5</string>
				<key>name</key>
				<string>Intel Alpine Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #1</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x1)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #2</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x1)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel I211 Wired LAN Gigabit Ethernet Network Controller</string>
				<key>name</key>
				<string>Intel I211 Gigabit Ethernet Network Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #14</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #5</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Thunderbolt 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge #1</string>
				<key>name</key>
				<string>Intel Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x0,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Thunderbolt 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge #2</string>
				<key>name</key>
				<string>Intel Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x1,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Thunderbolt 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge #3</string>
				<key>name</key>
				<string>Intel Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Thunderbolt 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge #4</string>
				<key>name</key>
				<string>Intel Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1C,0x4)/Pci(0x0,0x0)/Pci(0x4,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Thunderbolt 3</string>
				<key>device_type</key>
				<string>Thunderbolt 3 Controller</string>
				<key>model</key>
				<string>Intel JHL7540 Titan Ridge Thunderbolt 3 Bridge #5</string>
				<key>name</key>
				<string>Intel Titan Ridge Thunderbolt 3 Bridge</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1D,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>PCI Express Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH PCI Express Root Port #9</string>
				<key>name</key>
				<string>Intel Cannon Lake PCI Express Root Port</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x0)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>ISA Bridge Controller</string>
				<key>model</key>
				<string>Intel Z390 11 Series Chipset PCH LPC/eSPI ISA Bridge</string>
				<key>name</key>
				<string>Intel Z390 ISA LPC ISA Bridge Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x3)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Multimedia Controller</string>
				<key>layout-id</key>
				<data>
				EAAAAA==
				</data>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH cAVS High Definition Audio DAC (Realtek ALC1220)</string>
				<key>name</key>
				<string>Intel Cannon Lake cAVS High Definition Audio DAC</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x4)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>SMBus Controller</string>
				<key>model</key>
				<string>Intel Cannon Lake 11 Series Chipset PCH System Bus Controller</string>
				<key>name</key>
				<string>Intel Cannon Lake System Bus Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x1F,0x6)</key>
			<dict>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Ethernet Controller</string>
				<key>model</key>
				<string>Intel I219-V7 Wired LAN Gigabit Ethernet Network Controller</string>
				<key>name</key>
				<string>Intel I219-V7 Gigabit Ethernet Network Controller</string>
			</dict>
			<key>PciRoot(0x0)/Pci(0x2,0x0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>
				AwCRPg==
				</data>
				<key>AAPL,slot-name</key>
				<string>Built In</string>
				<key>device_type</key>
				<string>Display Controller</string>
				<key>model</key>
				<string>Intel UHD Graphics 630 High Definition Graphics (Desktop)</string>
				<key>name</key>
				<string>Intel UHD Graphics 630</string>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>AddClockID</key>
			<true/>
			<key>FixOwnership</key>
			<true/>
			<key>HighCurrent</key>
			<false/>
			<key>Inject</key>
			<true/>
		</dict>
		<key>UseIntelHDMI</key>
		<false/>
	</dict>
	<key>GUI</key>
	<dict>
		<key>ConsoleMode</key>
		<string>Max</string>
		<key>EmbeddedThemeType</key>
		<string>Dark</string>
		<key>KbdPrevLang</key>
		<true/>
		<key>Language</key>
		<string>en-US:0</string>
		<key>Mouse</key>
		<dict>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>PlayAsync</key>
		<false/>
		<key>ProvideConsoleGop</key>
		<true/>
		<key>Scan</key>
		<dict>
			<key>Entries</key>
			<true/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>ShowOptimus</key>
		<true/>
		<key>Theme</key>
		<string>OSS</string>
	</dict>
	<key>Graphics</key>
	<dict>
		<key>EDID</key>
		<dict>
			<key>#Custom</key>
			<data>
			AP///////wAGECGSAAAAAAASAQOAIRV4CunVmVlTjigmUFQAAAAB
			AQEBAQEBAQEBAQEBAQEB3iGgcFCEHzAgIFYAS88QAAAY3iGgcFCE
			HzAgIFYAS88QAAAAAAAA/gBXNjU3RwAxNTRXUDEKAAAA/gAjMz1I
			ZYSq/wIBCiAgAJo=
			</data>
			<key>#HorizontalSyncPulseWidth</key>
			<string>0x11</string>
			<key>#Inject</key>
			<true/>
			<key>#ProductID</key>
			<string>0x9221</string>
			<key>#VendorID</key>
			<string>0x1006</string>
			<key>#VideoInputSignal</key>
			<string>0xA1</string>
		</dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
		</dict>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleIntelCPUPM</key>
		<false/>
		<key>AppleRTC</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>DellSMBIOSPatch</key>
		<false/>
		<key>EightApple</key>
		<true/>
		<key>KernelLapic</key>
		<false/>
		<key>KernelPm</key>
		<true/>
		<key>KernelXCPM</key>
		<false/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #1 10.14.x modify by DalianSky(credit ydeng)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB port limit patch #2 10.14.x modify by DalianSky(credit PMHeart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g+MP0w==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g+M/0w==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #3 10.14.x modify by DalianSky(credits PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #4 10.14.x modify by DalianSky(credits PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/8PDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.14.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/8/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #1(credits PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/sPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.iokit.IOUSBHostFamily</string>
				<key>Replace</key>
				<data>
				g/s/Dw==
				</data>
			</dict>
			<dict>
				<key>Comment</key>
				<string>USB Port limit patch #2(credits PMheart)</string>
				<key>Disabled</key>
				<false/>
				<key>Find</key>
				<data>
				g/kPDw==
				</data>
				<key>InfoPlistPatch</key>
				<false/>
				<key>MatchOS</key>
				<string>10.15.x</string>
				<key>Name</key>
				<string>com.apple.driver.usb.AppleUSBXHCI</string>
				<key>Replace</key>
				<data>
				g/k/Dw==
				</data>
			</dict>
		</array>
		<key>PanicNoKextDump</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>AppleXcpmExtraMsrs</key>
		<false/>
		<key>AppleXcpmForceBoost</key>
		<false/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>DevirtualiseMmio</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>DisableLinkeditJettison</key>
		<true/>
		<key>DisableRtcChecksum</key>
		<false/>
		<key>DisableSingleUser</key>
		<false/>
		<key>DisableVariableWrite</key>
		<false/>
		<key>DiscardHibernateMap</key>
		<false/>
		<key>DummyPowerManagement</key>
		<false/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
		<key>ExternalDiskIcons</key>
		<false/>
		<key>ForceExitBootServices</key>
		<false/>
		<key>FuzzyMatch</key>
		<true/>
		<key>IncreasePciBarSize</key>
		<true/>
		<key>KernelCache</key>
		<string>Auto</string>
		<key>PowerTimeoutKernelPanic</key>
		<true/>
		<key>ProtectMemoryRegions</key>
		<false/>
		<key>ProtectSecureBoot</key>
		<false/>
		<key>ProtectUefiServices</key>
		<true/>
		<key>ProvideConsoleGopEnable</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>ProvideMaxSlide</key>
		<integer>0</integer>
		<key>RebuildAppleMemoryMap</key>
		<false/>
		<key>SetupVirtualMap</key>
		<false/>
		<key>SignalAppleOS</key>
		<false/>
		<key>SyncRuntimePermissions</key>
		<true/>
		<key>ThirdPartyDrives</key>
		<false/>
		<key>XhciPortLimit</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
		<key>MLB</key>
		<string></string>
		<key>ROM</key>
		<string>UseMacAddr0</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BiosReleaseDate</key>
		<string>01/06/2021</string>
		<key>BiosVendor</key>
		<string>Apple Inc.</string>
		<key>BiosVersion</key>
		<string>MP71.88Z.F000.B00.2101062036</string>
		<key>Board-ID</key>
		<string>Mac-27AD2F918AE68F61</string>
		<key>BoardManufacturer</key>
		<string>Apple Inc.</string>
		<key>BoardSerialNumber</key>
		<string></string>
		<key>BoardType</key>
		<integer>10</integer>
		<key>BoardVersion</key>
		<string>MacPro7,1</string>
		<key>ChassisAssetTag</key>
		<string></string>
		<key>ChassisManufacturer</key>
		<string>Apple Inc.</string>
		<key>ChassisType</key>
		<string>0x7</string>
		<key>EfiVersion</key>
		<string>1554.80.3.0.0</string>
		<key>Family</key>
		<string>MacPro</string>
		<key>FirmwareFeatures</key>
		<string>0xFDAFF066</string>
		<key>FirmwareFeaturesMask</key>
		<string>0xFFFFFF7F</string>
		<key>LocationInChassis</key>
		<string>Part Component</string>
		<key>Manufacturer</key>
		<string>Apple Inc.</string>
		<key>Memory</key>
		<dict>
			<key>Channels</key>
			<integer>2</integer>
			<key>SlotCount</key>
			<integer>4</integer>
		</dict>
		<key>PlatformFeature</key>
		<string>0x0</string>
		<key>ProductName</key>
		<string>MacPro7,1</string>
		<key>SerialNumber</key>
		<string></string>
		<key>SmUUID</key>
		<string></string>
		<key>Trust</key>
		<true/>
		<key>Version</key>
		<string>1.0</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Yes</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
</dict>
</plist>
